<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="theme/css/foundation.min.css">
    <link rel="icon" href="images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">-->
  </head>
  <body>
    <!-- Top navigation bar -->
    <a href="http://www.iups.org" style="display:block;color:black;font-weight:normal">
      <div class="row">
	<div class="small-12 columns"></div>
      </div>
    </a>
    <div style="background-color:rgb(243, 235, 255);">
      <div class="row">
	<div class="small-8 column"><a href="/"><h1 style="color:black;display:inline;font-family:'Roboto',sans-serif;padding-top:15px;padding-bottom:15px;letter-spacing:-3px"><em>Physiome</em></h1></a><span style="margin-left:10px"><a href="http://iups.org" style="color:black"><img src="theme/images/iups.svg" style="width:60px;vertical-align:bottom"><span style="vertical-align:30%">International Union of Physiological Sciences</span></a></span></div>
	<div class="small-4 column" style="text-align:right">
	  <img width="350px" src="theme/images/associated-branding.png">
	</div>
      </div>
    </div>
    <div style="background-color: #e6e6e6;">
      <div class="row">
	<div class="small-12 column">
	  <div class="top-bar">
	    <div class="top-bar-left">
	      <ul class="menu">
		<li><a href="{{SITEURL}}/">Home</a></li>
		<li><a href="physiome-project.html">The Physiome Project</a></li>
		<li><a href="about.html">About the Journal</a></li>
		<li><a href="instructions-to-authors.html">Instructions to Authors</a></li>
		<li><a href="editorial-board.html">Editorial Board</a></li>
	      </ul>
	    </div>
	    <div class="top-bar-right">
	      <ul class="menu">
		<li><input type="text" placeholder="Find articles..."></li>
		<li><button type="button" class="button">Search</button></li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <!-- Body -->
    <div class="body" style="margin-top:20px">
      <div class="row">

	{% block body %}
	{% endblock %}
      </div>
    </div>
  </body>

</html>
