{% macro publisting(pub_article) %}

<tr>
  <td class="medium-7 columns">
    <p style="margin-bottom:0px"><a href="{{SITEURL}}/{{pub_article.url}}">{{pub_article.title}}</a></p>
    <p>
      {{authorlist(pub_article)}}
    </p>
  </td>
</tr>
{% endmacro %}

{% macro pubtable(pub_articles) %}
  <table>
    {% for article in pub_articles %}
    {{ publisting(article) }}
    {% endfor %}
  </table>
  <div class="dropdown-pane" id="opencor-note" data-dropdown data-hover="true" data-hover-pane="true">
    Please note that this option requires <a href="http://opencor.ws">OpenCOR</a> to be installed onto your computer and opened at least once.
  </div>

{% endmacro %}


{% macro authorlist(pub) %}
  {% if pub.pubauthor %}
    {{pub.pubauthor}}
  {% elif pub.pubauthors %}
    {% for author in pub.pubauthors %} 
      {{author}}
        {% if pub.pubauthorsorcid %}
            {% if (pub.pubauthorsorcid[loop.index0])|length > 8 %}
                <a href="https://orcid.org/{{pub.pubauthorsorcid[loop.index0]}}"><img class="b" alt="ORCID logo" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" width="16" height="16" /></a>
            {% endif %}
        {% endif %}
        {% if not loop.last %}
      ,
      {% endif %}
    {% endfor %}
  {% else %}
  {% endif %}
{% endmacro %}

