{% macro publisting(pub_article) %}
<tr>
  <td class="medium-7 columns">
    <p style="margin-bottom:0px"><a href="{{SITEURL}}/{{pub_article.url}}">{{pub_article.title}}</a></p>
    <p>
      {{authorlist(pub_article)}}
    </p>
  </td>
  <td class="medium-5 columns">
    {% if pub_article.fulltexturl %}
    <span style="margin-right:6px" class="small"><a class="button small" target="_blank" href="{{pub_article.fulltexturl}}">Fulltext PDF</a></span>
    {% endif %}
    {% if pub_article.mathsurl %}
    <span><a class="button small alert" target="_blank" rel="noopener" href="{{pub_article.mathsurl}}">Maths</a></span>
    {% endif %}
    {% if pub_article.codeurl %}
    <span><a class="button small alert" target="_blank" rel="noopener" href="{{pub_article.codeurl}}">Code</a></span>
    {% endif %}
    {% if pub_article.runmodelurl %}
    <span><a class="button small alert" href="{{pub_article.runmodelurl}}">Launch with OpenCOR</a></span>
    {% endif %}

  </td>
</tr>
{% endmacro %}

{% macro pubtable(pub_articles) %}
  <table>
    {% for article in pub_articles %}
    {{ publisting(article) }}
    {% endfor %}
  </table>
  <div class="dropdown-pane" id="opencor-note" data-dropdown data-hover="true" data-hover-pane="true">
    Please note that this option requires <a href="http://opencor.ws">OpenCOR</a> to be installed onto your computer and opened at least once.
  </div>

{% endmacro %}

{% macro authorlist(pub) %}
  {% if pub.pubauthor %}
    {{pub.pubauthor}}
  {% elif pub.pubauthors %}
    {% for author in pub.pubauthors %} 
      {{author}}
      {% if not loop.last %}
	,
      {% endif %}
    {% endfor %}
  {% else %}
  {% endif %}
{% endmacro %}
