{% macro publisting(pub_article) %}
      <li>
	<p style="margin-bottom:0px"><a href="{{SITEURL}}/{{pub_article.url}}">{{pub_article.title}}</a></p>
	<p>
	  {% for author in pub_article.pubauthor %} 
	    {{author}}
	    {% if not loop.last %}
	      ,
	    {% endif %}
	  {% endfor %}
	  {% if pub_article.fulltexturl %}
	  <span style="margin-right:6px" class="small"><small><a href="{{pub_article.fulltexturl}}">Fulltext</a></small></span>
	  {% else %}
	  {% endif %}
	  {% if pub_article.runmodelurl %}
	  <span><small><a href="{{pub_article.runmodelurl}}">Run in OpenCOR</a></small></span>
	  {% else %}
	  {% endif %}
	</p>
      </li>
{% endmacro %}
