{% extends 'base.html' %}
{% import 'shared/pub.html' as pub %}
{% block title %} {{page.title}} {% endblock %}
{% block body %}
    <h2>{{article.title}}</h2>
    <p>
      {{pub.authorlist(article)}}
    </p>
<p>Fulltext available: 
{% if article.fulltexturl %}
<a href="{{article.fulltexturl}}"><i class="fi-page" style="margin-right:5px"> </i>PDF</a>
{% else %}
{% endif %}
{% if article.runmodelurl %}
 Run in OpenCOR: <a href="{{article.runmodelurl}}"><i class="fi-link"></i> CellML</a></p>
{% else %}
{% endif %}
    <p>Extra documents:
      {% for doc in article.documents %}
	{% if loop.index is odd %}
	  <span style="margin-right:10px"><i class="fi-page" style="margin-right:5px"></i><a href="{{article.documents[loop.index0+1]}}">{{doc}}</a></span>
	{% else %}
	{% endif %}
      {% endfor %}
    {{article.content}}
{% endblock %}
