{% extends 'base.html' %}
{% import 'shared/pub.html' as pub %}
{% block title %} {{page.title}} {% endblock %}
{% block body %}
  <h2>{{article.title}}</h2>
<p>
  {{pub.authorlist(article)}}
</p>
<hr>
{% if article.primarypaperurl %}
  <p><em>This <em>Physiome</em> paper describes data and models from the primary paper <a rel="noopener" target="_blank" href="{{article.primarypaperurl}}">{{article.primarypapername}}</a></em>.</p>
  {% endif %}
  <p>{% if article.runmodelurl %}
  <a class="button alert small" href="{{article.runmodelurl}}" rel="noopener" target="_blank">Launch with OpenCOR</a></p>
  {% endif %}</p>
<p>Fulltext available: 
  {% if article.fulltexturl %}
    <a href="{{article.fulltexturl}}"><i class="fi-page" style="margin-right:5px"> </i>PDF</a>
  {% else %}
  {% endif %}
  {% if article.primarypaper %}
  {% endif %}
  {% if article.documents %}
    <p>Extra documents:
      {% for doc in article.documents %}
	{% if loop.index is odd %}
	  <span style="margin-right:10px"><i class="fi-page" style="margin-right:5px"></i><a href="{{article.documents[loop.index0+1]}}">{{doc}}</a></span>
	{% else %}
	{% endif %}
      {% endfor %}
    </p>
  {% else %}
  {% endif %}
  {{article.content}}
  
{% endblock %}
