<!doctype html>
<html lang="en" style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{{SITEURL}}/theme/css/foundation.min.css">
    <link rel="icon" href="{{SITEURL}}/images/favicon.png">
    <link rel="stylesheet" href="{{SITEURL}}/theme/css/foundation-icons/foundation-icons.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">-->
  </head>
  <body style="height: 100%; display: flex; flex-direction: column">
    <!-- Top navigation bar -->
      <div class="row">
	<div class="small-12 columns"></div>
      </div>
    </a>
    <div style="background-color: white;">
      <div class="row">
	<div class="small-8 column"><a href="{{SITEURL}}/"><img src="{{SITEURL}}/theme/images/Physiome-beside-middle.png" alt="Physiome logo" style="width:100%;height:100%;"></a><span style="margin-left:10px"></span></div>
	<div class="small-4 column" style="text-align:right">
	</div>
      </div>
    </div>
    <div style="background-color: #000000;">
      <div class="row">
	<div class="small-12 column">
	  <div class="top-bar" style="background-color: #000000;">
	    <div class="top-bar-left">
	      <ul class="menu" style="background-color: #000000;">
		<li><a href="{{SITEURL}}/" style=" color:white;">Home</a></li>
		<li><a href="{{SITEURL}}/physiome-project.html" style=" color:white;">The Physiome Project</a></li>
		<li><a href="{{SITEURL}}/about.html" style=" color:white;">About the Journal</a></li>
        <li><a href="{{SITEURL}}/instructions-to-authors.html" style=" color:white;">Author instructions</a></li>
	      </ul>
	    </div>
	    <div class="top-bar-right">
	      <ul class="menu" style="background-color: #000000; color:#4e4c51;">
		<li><input type="text" placeholder="Find articles..."></li>
        <li><button type="button" style="background-color: #580078; color:white; border: 1px solid #580078;" class="button">Search</button> </li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <!-- Body -->
    <div class="body" style="margin-top:20px; flex: 1 0 auto">
      <div class="row">

	{% block body %}
	{% endblock %}
      </div>
    </div>
    <script type="text/javascript" src="{{SITEURL}}/theme/js/jquery.js"></script>
    <script type="text/javascript" src="{{SITEURL}}/theme/js/what-input.js"></script>
    <script type="text/javascript" src="{{SITEURL}}/theme/js/foundation.min.js"></script>
		
  </body>

      <!-- Footer with contact info -->
      
      <style>
          footer {
            flex-shrink: 0;
            background-color: black;
            color: white;
            text-align: center;
          }
      </style>
  <footer>
      <span style="display: block; color: white">Contact us: <a style="color:white; text-decoration: underline;" href="mailto:physiome@physiomeproject.org">physiome@physiomeproject.org</a></span>
      <span style="display: block; color: white">Meet our <a style="color:white; text-decoration: underline" href="{{SITEURL}}/editorial-board.html">Editorial Board</a></span>
      <span style="display: block; colour: white;">Supported by:</span>
      <p><a href="http://www.iups.org/"><img src="{{SITEURL}}/theme/images/IUPS_white.png" alt="Physiome logo" style="width:7%;height:7%;"></a> <a href="https://www.vph-institute.org/"><img src="{{SITEURL}}/theme/images/Horizonal_Online.png" alt="VPH logo" style="width:13%;height:13%;"></a> <a href="https://www.auckland.ac.nz/en/abi.html"><img src="{{SITEURL}}/theme/images/abi-hc-rgb-white.png" alt="ABI logo" style="width:30%;height:30%;"></a> <a href="https://www.digital-science.com/"><img src="{{SITEURL}}/theme/images/ds-logo-bw.png" alt="Digital Science logo" style="width:15%;height:15%;"></a></p>
  </footer>
</html>
